= cv_section 'Overview' do
  .cv-item
    %p.last
      Motivated and energetic Ruby on Rails developer with 3+ years of
      professional experience. Strong backend focus, including implementing
      RESTful APIs, designing controllers and models, and writing the occasional
      bash script.
