= cv_section 'Technical Skills' do
  .cv-item
    %p.period Expert, 4 Years
    %h3.text-uppercase
      %strong Html5 &amp; Css3
    %br.clear/
    %p.last
      Vestibulum feugiat gravida est nec ultrices. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. Etiam vel velit quam. Donec quis porta libero.
  .cv-item
    %p.period Advanced, 2 Years
    %h3
      %strong Javascript
    %br.clear/
    %p.last
      Morbi in mi non velit dapibus tincidunt ut vel dolor. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Morbi elementum urna vitae justo vehicula, in lacinia magna
      ornare. Aenean porttitor, quam quis fermentum consequat.
  .cv-item
    %p.period Beginer, 1 Year
    %h3
      %strong jQuerry
    %br.clear/
    %p
      Nunc imperdiet placerat diam et aliquet. Suspendisse massa neque, rhoncus eget posuere ac, aliquet ut
      mi. Etiam rhoncus placerat lorem eu posuere.
    %p.last
      Nunc dignissim commodo urna, eget bibendum nisl vehicula nec. Mauris faucibus erat elit, nec malesuada
      augue varius sit amet. Morbi sit amet scelerisque risus. Duis vulputate, dolor ut mattis aliquam, massa diam
      imperdiet ante, vel viverra tortor risus sit amet eros.
