= cv_section 'Technical Skills' do
  .cv-item
    - categories.each do |category|
      .skill-group
        %h3.text-uppercase
          %strong= category.name
        %p.last
          %ul
            - category.children.each do |skill|
              %li= skill.name
