= cv_section 'Work Experience' do
  .cv-item
    %p.period July 2008 - Present
    %h3
      %strong Senior Project Manager
    %h4 Web Design Studios, Full-Time
    %br/
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula, magna et bibendum
      malesuada, purus augue suscipit dolor, vitae fringilla dui nibh non lectus. Curabitur in
      pellentesque tortor. Nunc posuere vestibulum augue, quis posuere orci blandit vitae. Suspendisse
      dignissim elit dui, ac dictum felis interdum nec.
    %ul.fill-circle
      %li Lorem ipsum dolor sit amet, consectetur adipiscing elit
      %li Vivamus vitae libero odio, eu interdum elit
      %li Donec dignissim purus vel leo accumsan interdum
      %li Proin sit amet massa mi, in volutpat ante
  .cv-item
    %p.period April 2007 - May 2008
    %h3
      %strong Front End Developer
    %h4 Acme Advertising, Full-Time
    %br/
    %p
      Curabitur in pellentesque tortor. Nunc posuere vestibulum augue, quis posuere orci blandit
      vitae. Suspendisse dignissim elit dui, ac dictum felis interdum nec.
    %ul.fill-circle
      %li Vivamus vitae libero odio, eu interdum elit
      %li Donec dignissim purus vel leo accumsan interdum
      %li Proin sit amet massa mi, in volutpat ante
