= cv_section 'Work Experience' do
  .cv-item
    %p.period Nov 2013 - Present
    %h3
      %strong Senior Ruby Engineer
    %h4= link_to 'FundAmerica Technologies, LLC', 'http://fundamerica.com/', target: '_blank'
    %br/
    %ul.fill-circle
      %li Designed and implemented billing system, including highly-customized fee schedules, billing methods, subscriptions, monthly reports, and audit trail features.
      %li Built e-mail framework, allowing sending and tracking of e-mails with customized formats, variables, and attachments.
      %li Created ledgers to manage escrow and investor funds. Developed reconciliation feature to verify funds matched with bank accounts.
      %li Integrated third-party services, including Stripe and Plaid.
      %li Led a team of developers to deliver new features for API and front-end design.

  .cv-item
    %p.period Apr 2003 - Present
    %h3
      %strong Web Developer
    %h4 Newport Beach, Volunteer
    %br/
    %p Celebrating its 18th year, the Newport Beach Film Festival (NBFF) annually showcases over 350 films from 50 countries and attracts over 50,000 attendees, making it one of Southern California’s longest running and largest film events.
    %ul.fill-circle
      %li Replaced static website with WordPress.
      %li Helped develop internal CMS using FileMaker.
