.span3, .span9
  @media (max-width: 767px)
    padding: 0 5%

.email
  font-size: 16px
  font-weight: 600
  line-height: 1.5em

.copyright
  background-color: #2767a4

.cv-section
  padding: 75px 0

.cv-section-title
  h1
    padding-top: 0

.job-skills
  font-size: 13px
  font-weight: 600

.social-media
  a
    text-decoration: none

    &:hover
      color: #2767a4

  .fa-2x
    font-size: 1.3em

  @media (max-width: 767px)
    text-align: center

.skill
  &:hover
    color: #2767a4

.skill-detail
  background-color: #fafafa
  border-radius: 5px
  border: 1px #2767a4 solid
  color: #000
  display: none
  margin-left: 40px
  margin-top: -25px
  padding: 8px
  position: absolute

  ul
    list-style-position: inside
    list-style-type: square
    margin: 0
    padding: 0

.skill-group
  float: left
  width: 50%

  &:nth-child(odd)
    clear: both

#back-to-top
  bottom: 85px
